:root {
    /* colors */
    --primery-color: #aa7df2;
    --secendry-primery-color: #f97f8b;
    --third-primery-color: #6d7181;
    --white-color: #ffffff;
    /* border */
    --border-radius-5: 5px;
    --border-radius-8: 8px;
    --border-radius-10: 10px;
    --border-radius-15: 15px;
    --border-purple: solid var(--primery-color) 1px;
    --border-red: solid var(--secendry-primery-color) 1px;
    --box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    /* font-color */
    --subtitle-color: #a1a2a7;
    --title-color: #434550;
    --information-color: #696a73;
    /* font size */
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-25: 25px;
    --font-size-30: 30px;
    --font-size-38: 38px;
}

.font-size-10 {
    font-size: var(--font-size-10) !important;
}

.font-size-12 {
    font-size: var(--font-size-12) !important;
}

.font-size-14 {
    font-size: var(--font-size-14) !important;
}

.font-size-16 {
    font-size: var(--font-size-16) !important;
}

.font-size-18 {
    font-size: var(--font-size-18) !important;
}

.font-size-20 {
    font-size: var(--font-size-20) !important;
}

.font-size-25 {
    font-size: var(--font-size-25) !important;
}

.font-size-30 {
    font-size: var(--font-size-30) !important;
}

.font-size-38 {
    font-size: var(--font-size-38) !important;
}

/* border */
.border-radius-5 {
    border-radius: 5px;
}

.border-radius-8 {
    border-radius: 8px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-15 {
    border-radius: 15px;
}

/* border */
.border-purple {
    border: var(--border-purple);
}

.border-red {
    border: var(--border-red);
}

.box-shadow {
    box-shadow: var(--box-shadow);
}

.subtitle-color {
    color: var(--subtitle-color) !important;
}

.title-color {
    color: var(--title-color) !important;
}

.information-color {
    color: var(--information-color) !important;
}

.margin-top-none {
    margin-top: 0 !important;
}

.white-color {
    color: var(--white-color) !important;
}

.no-filter {
    filter: none !important;
}

@media only screen and (max-width: 768px) {
    /* margin */
    .m-l-none {
        margin-left: 0 !important;
    }

    .m-t-none {
        margin-top: 0 !important;
    }

    .m-r-none {
        margin-right: 0 !important;
    }

    .m-b-none {
        margin-bottom: 0 !important;
    }

    .m-none {
        margin: 0 !important;
    }

    .m-auto {
        margin: auto !important;
        display: block;
    }

    .m-10 {
        margin: 10px auto !important;
    }

    .m-bottom {
        margin-bottom: 15px;
    }

    .m-t-b-20 {
        margin: 20px 0;
    }

    /* padding */
    .p-l-none {
        padding-left: 0 !important;
    }

    .p-t-none {
        padding-top: 0 !important;
    }

    .p-r-none {
        padding-right: 0 !important;
    }

    .p-b-none {
        padding-bottom: 0 !important;
    }

    .p-none {
        padding: 0 !important;
    }

    .p-t-10 {
        padding-top: 10px;
    }

    .p-l-30 {
        padding: 30px;
    }

    /* send padding */
    .padding-15 {
        padding: 15px !important;
    }

    .padding-30 {
        padding: 30px !important;
    }

    .padding-50 {
        padding: 50px !important;
    }

    .width-full {
        margin: auto;
        width: 90% !important;
    }

    .wrap {
        flex-wrap: wrap !important;
    }

    .display-none {
        display: none !important;
    }

    .justify-center {
        justify-content: center !important;
    }

    /* text */
    .text-center {
        text-align: center;
    }

    .text-left {
        text-align: left;
    }

    /* flex basis */
    .flex-basis-100 {
        flex-basis: 100% !important;
    }

    .flex-basis-75 {
        flex-basis: 75% !important;
    }

    .flex-basis-50 {
        flex-basis: 50% !important;
    }

    .flex-basis-50-res {
        flex-basis: calc(50% - 50px) !important;
    }

    /* flex center */
    .align-content-center {
        align-content: center;
        flex-direction: column;
    }

    .flex-direction {
        flex-direction: column !important;
    }

    .display-flex {
        display: flex !important;
    }

    .m-10-about-team {
        margin: 170px 10px 0;
        flex-basis: calc(50% - 30px) !important;
    }
}

@media only screen and (max-width: 400px) {
    .flex-basis-100 {
        flex-basis: 100% !important;
    }

    .flex-basis-75 {
        flex-basis: 100% !important;
    }

    .flex-basis-50 {
        flex-basis: 100% !important;
    }

    .flex-basis-50-res {
        flex-basis: 100% !important;
    }
}